@charset "UTF-8";
/* Fondo Main Café */
main {
  background-image: url(../assets/img/fdo_main.png);
  background-position: bottom right;
  background-repeat: no-repeat; }

/* Propiedades Cabezales */
.slideshow-texto {
  text-align: center;
  width: 100%;
  padding: 15%; }

.cabezal-sec-texto {
  text-align: left;
  padding: 35px;
  display: flex;
  flex-direction: column; }

/* Animación Menú */
nav a:hover, .login-cart a:hover {
  color: #9B7D49;
  text-decoration: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* H1 - H4 */
h1 {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 35px; }

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #ffffff; }

h3 {
  font-family: "Barlow", sans-serif;
  color: #0C0C0C;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px; }

/*////// HEAD //////*/
header {
  font-family: "Barlow", sans-serif;
  background-color: #0C0C0C;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px; }
  header nav {
    list-style: none;
    gap: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer; }
    header nav .logo {
      margin-right: 30px; }
    header nav input {
      appearance: none; }
    header nav label {
      display: none; }
    header nav li a {
      color: white;
      font-size: 20px;
      text-decoration: none; }

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px; }

.login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none; }
  .login-cart li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    text-align: none; }

/*////// MAIN //////*/
/* HOME (Main)*/
.main-home {
  font-family: 'arial';
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 2rem 0rem 2rem;
  /* Container Main */ }
  .main-home .container-main {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    align-content: center; }

/* Slideshow */
.slideshow {
  background-color: #0C0C0C;
  background-image: url(../assets/img/slideshow/slide-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .slideshow .slide-texto {
    color: white;
    font-size: none;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 15%;
    font-family: "Barlow", sans-serif; }

/* Flechas para slideshow */
.selec-slide {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  top: -250px; }

.column3 {
  margin-left: 20px; }

/* ANIMACION TITULO SLIDE */
.titulo {
  position: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(10%); }

/*ANIMACION*/
.anim-typewriter {
  animation: typewriter 2s steps(24) 1s 1 normal both, blinkTextCursor 600ms steps(24) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 13em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

/* NOSOTROS MAIN*/
.cabezal-nosotros {
  background-color: #0C0C0C;
  background-image: url(../assets/img/cabezales/cabezal_nosotros.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px; }

.main-nosotros {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'arial';
  height: 500px;
  margin: 40px;
  gap: 40px; }

/* TIENDA (Main)*/
.cabezal-tienda {
  background-color: #0C0C0C;
  background-image: url(../assets/img/cabezales/cabezal_tienda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px; }

.tienda-grids {
  display: grid;
  font-family: 'arial';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center; }
  .tienda-grids .tienda {
    background-color: #fff; }
  .tienda-grids .card {
    background-color: #ffffff;
    border: 1px solid #83838344;
    padding: 20px;
    border-radius: 5px; }
  .tienda-grids .boton-comprar {
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: #000;
    margin: 10px 10px 0px 0px;
    padding: 7px;
    border-radius: 5px; }

/* LOCALES (Main)*/
.cabezal-locales {
  background-color: #0C0C0C;
  background-image: url(../assets/img/cabezales/cabezal_locales.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px; }

.main-locales {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'arial';
  margin: 40px;
  gap: 20px; }

/* CONTACTO (Main)*/
form {
  margin-top: 20px; }
  form input[type="submit"] {
    background-color: #0C0C0C;
    color: #fff;
    border: none; }

.cabezal-contacto {
  background-color: #0C0C0C;
  background-image: url(../assets/img/cabezales/cabezal_contacto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px; }

.main-contacto {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'arial';
  height: 500px;
  margin: 40px 40px 20px 20px;
  gap: 80px; }

/*/////// FOOTER //////*/
footer {
  font-family: "Barlow", sans-serif;
  background-color: rgba(128, 128, 128, 0.034); }
  footer .propiedades-footer {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px; }
    footer .propiedades-footer .sucursales {
      display: flex;
      flex-direction: none;
      flex-wrap: none;
      justify-content: space-evenly;
      align-items: center;
      gap: 25px; }
      footer .propiedades-footer .sucursales .suc-linea {
        margin-left: 30px; }

p {
  margin-bottom: 0rem; }

.footer-titulos {
  font-weight: bold;
  color: #9B7D49;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  text-align: left; }

.horario {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none; }

.pago,
li {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px; }

.sociales {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: right;
  gap: 10px; }

/* COPYRIGHT */
.copyright {
  padding: 7px;
  background-color: #0C0C0C;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  text-align: center; }
  .copyright .copyright-mail {
    color: #9B7D49; }

/* ****** RESPONSIVE PC ****** */
@media (max-width: 1024px) {
  /* Header (1024px) */
  .logo img {
    margin-top: 15px;
    width: 85%; }
  .nav-bar {
    gap: 15px; }
  .nav ul li {
    font-size: 18px; }
  .login-cart {
    padding-right: 15px;
    gap: 10px; }
  .login-cart img {
    margin-top: 3px;
    width: 100%; }
  .login-cart li a {
    font-size: 15px; }
  .linea-menu {
    padding-left: 15px;
    padding-right: 15px; }
  /* Main (1024px) */
  .titulo {
    font-size: 110%; }
  .selec-slide {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: -200px; }
  .column3 {
    margin-left: 15px; }
  .main-nosotros {
    flex-direction: column;
    height: 100%; }
  .main-nosotros img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  /* Footer (1024px) */
  .propiedades-footer {
    background-color: #00000007;
    font-size: 15px; }
  .footer-titulos {
    margin-right: 10px; }
  .sucursales {
    justify-content: start; }
  .horario {
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px; }
  .suc-linea {
    display: none; }
  .reservas {
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px; }
  .pago {
    margin-bottom: 10px; }
  .sociales {
    margin-left: 20px; }
  .sociales .footer-titulos {
    display: none; } }

/* ****** RESPONSIVE TABLET ****** */
@media (max-width: 768px) {
  /* Header (768px) */
  .logo img {
    width: 100%; }
  nav {
    gap: 0px; }
  nav ul a {
    font-size: 18px; }
  .menu ul {
    gap: 15px; }
  /* Main (768px) */
  .selec-slide {
    top: -160px; }
  .tienda-grids {
    grid-template-columns: repeat(2, 1fr);
    height: auto; }
  .container-main {
    flex-wrap: wrap; }
  .column3 {
    margin-left: 0px; }
  .column3 {
    order: 1; }
  .column1 {
    order: 2; }
  .column2 {
    order: 2; }
  .main-locales {
    flex-direction: column;
    height: 100%; }
  .main-contacto {
    flex-direction: column;
    height: 100%; }
  .main-contacto img {
    object-fit: cover;
    width: 100%; }
  /* Footer */
  footer {
    flex-direction: column; }
  .propiedades-footer {
    flex-direction: column; }
  .horario {
    flex-direction: row; }
  .suc-linea {
    display: none; }
  .sociales .footer-titulos {
    display: flex; } }

/******* RESPONSIVE MOBILE 425px *******/
@media (max-width: 425px) {
  /* Header (425px) */
  .login-cart {
    display: none; }
  .linea-menu {
    display: none; }
  .titulo {
    font-size: 100%; }
  .selec-slide {
    top: -130px; }
  /* Main (425px) */
  .tienda-grids {
    grid-template-columns: 1fr; }
  .container-main {
    flex-direction: column; }
  .container-main img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  /* Footer (425px) */
  .sucursales {
    flex-wrap: wrap;
    justify-content: start; }
  .horario {
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px; }
  /* Menú responsive (425px) */
  .logo {
    margin-left: 100px;
    width: 60%;
    height: 100%;
    margin-bottom: 10px; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; }
  nav #toggle:checked ~ .menu {
    height: 100%;
    align-items: end;
    margin-bottom: 40px; }
  .menu ul {
    list-style: none;
    gap: 5px;
    margin-top: -20px; }
  nav li a {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none; }
  header nav label {
    display: flex;
    position: relative;
    top: -57px;
    margin-left: 15px; }
  nav {
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: -40px; } }

header nav {
  gap: 0px; }

footer .propiedades-footer .sucursales {
  justify-content: start; }

/******* RESPONSIVE MOBILE 320px*******/
@media (max-width: 320px) {
  /* Header (320px) */
  header {
    height: 100%;
    align-items: center; }
    header nav label {
      top: -50px; }
  .login-cart {
    display: none; }
  .linea-menu {
    display: none; }
  .titulo {
    font-size: 110%; }
  .selec-slide {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: -100px; }
  /* Main (320px) */
  .tienda-grids {
    grid-template-columns: 1fr; }
  .card {
    border: 1px solid #cacaca44;
    padding: 15px; }
  .card img {
    contain: content; }
  .container-main {
    flex-direction: column; }
  /* Footer (320px) */
  footer {
    display: flex; }
  .propiedades-footer {
    flex-direction: column;
    background-color: #00000007;
    font-size: 15px; }
  .footer-titulos {
    margin-right: 10px; }
  .pago {
    margin-bottom: 10px; }
  /* Menú responsive (320px) */
  .logo {
    margin-left: 70px;
    width: 100%; }
  .logo img {
    width: 80%; } }
