/*////// MAIN //////*/

/* HOME (Main)*/
.main-home {
    font-family: 'arial';
    @include flex1(flex, none, none, space-evenly, center);
    margin: 2rem 2rem 0rem 2rem;

    /* Container Main */
    .container-main {
        @include flex1(flex, none, none, space-evenly, center);
        width: 100%;
        align-content: center;
        padding-bottom: 20px
    }
    
}

/* Slideshow */
.slideshow {
    .slide-texto {
        @include texto(white, none, none, center);
        height: 0px;
        font-family: $fuente-principal;
        position: relative;
        top: 210px;
        z-index: 1;
    }
}

.column3 {
    margin-left: 20px;
}

/* ANIMACION TITULO SLIDE */
.titulo {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(10%);
}

/*ANIMACION*/
.anim-typewriter {
    animation: typewriter 2s steps(24) 1s 1 normal both,
    blinkTextCursor 600ms steps(24) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 13em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

img,
svg {
  vertical-align: sub;
}
