/*////// MAIN //////*/

/* HOME (Main)*/
.main-home {
    font-family: 'arial';
    @include flex1(flex, none, none, space-evenly, center);
    margin: 2rem 2rem 0rem 2rem;

    /* Container Main */
    .container-main {
        @include flex1(flex, none, none, space-evenly, center);
        width: 100%;
        align-content: center;
    }
    
}

/* Slideshow */
.slideshow {
    background-color: #0C0C0C;
    background-image: url(../assets/img/slideshow/slide-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .slide-texto {
        @include texto(white, none, none, center);
        width: 100%;
        padding: 15%;
        font-family: $fuente-principal;
    }
}


/* Flechas para slideshow */
.selec-slide {
    @include flex1(flex, none, none, space-between, center);
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -250px;
}

.column3 {
    margin-left: 20px;
}

/* ANIMACION TITULO SLIDE */
.titulo {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(10%);
}

/*ANIMACION*/
.anim-typewriter {
    animation: typewriter 2s steps(24) 1s 1 normal both,
    blinkTextCursor 600ms steps(24) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 13em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}