/*////// MAIN //////*/

/* HOME (Main)*/
.main-home {
    font-family: 'arial';
    @include flex1(flex, none, none, space-evenly, center);
    margin: 2rem 2rem 0rem 2rem;

    /* Container Main */
    .container-main {
        @include flex1(flex, none, none, space-evenly, center);
        width: 100%;
        align-content: center;
    }
}

/* Slideshow */
.slideshow {
    background-color: #0C0C0C;
    background-image: url(../assets/img/slideshow/slide-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .slide-texto {
        @include texto(white, none, none, center);
        width: 100%;
        padding: 15%;
        font-family: $fuente-principal;

        .slide-texto1 {
            font-size: 40px;

            .slide-texto2 {
                font-weight: lighter;
                font-size: 20px;
            }
        }
    }
}


/* Flechas para slideshow */
.selec-slide {
    @include flex1(flex, none, none, space-between, center);
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -250px;
}

.column3 {
    margin-left: 20px;
}