/* ****** RESPONSIVE TABLET ****** */
@media (max-width: 768px) {

    /* Header (768px) */
    .logo img {
        width: 75%;
    }

    nav {
        gap: 0px;
    }

    nav ul a {
        font-size: 18px;
    }

    .menu ul {
        gap: 15px;
    }

    /* Main (768px) */
    .selec-slide {
        top: -160px;
    }

    .tienda-grids {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .container-main {
        flex-wrap: wrap;
    }

    .column3 {
        margin-left: 0px;
    }

    .column3 {
        order: 1;
    }

    .column1 {
        order: 2;
    }

    .column2 {
        order: 2;
    }

    .main-locales {
        flex-direction: column;
        height: 100%;
    }

    .main-contacto {
        flex-direction: column;
        height: 100%;
    }

    .main-contacto img {
        object-fit: cover;
        width: 100%;
    }

    /* Footer */
    footer {
        flex-direction: column;
    }

    .propiedades-footer {
        flex-direction: column;
    }

    .horario {
        flex-direction: row;
    }

    .suc-linea {
        display: none
    }

    .sociales .footer-titulos {
        display: flex;
    }
}