 /* H1 - H4 */
h1{
    font-family: $fuente-principal;
    color: #ffffff;
    font-size: 35px;
}

h2{
    font-family: $fuente-principal;
    font-weight: lighter;
    font-size: 18px;
    color: #ffffff
}

h3{
    font-family: $fuente-principal;
    color: #0C0C0C;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}